.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
  text-align: center;
}

.card {
  padding: 20px 20px 5px 20px;
  margin: 20px;
}

.verticalLine {
  border-right: 1px dotted indigo;
}
.profilePic {
  border-radius: 30%;
  width: 150px;
  height: 150px;
  border: 1px solid lightblue;
  display: block;
  margin: auto;
}

.alignCenter {
  text-align: center;
}
.links {
  margin: 100px;
}
.links a {
  margin: 10px;
}
.hireable {
  width: 100%;
  bottom: 10px;
  display: block;
}

.gitInfo {
  margin-right: 80px;
}
